@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
/* Global Variables Start */
:root {
    --dark-primary: #1b1f24;
    --primary: #12bdff;
    --primary-hover: #0d9ad2;
    --gray: #808080;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables End */
body {
    font-family: "Roboto Slab", "Poppins", serif;
}
/* Header Starts */
header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo {
    color: var(--primary);
    font-weight: bolder;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin-right: 20px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}
header ul li a:hover {
    color: var(--primary);
}

/* Header Ends */

/* Hero-Section Starts */

section.hero-section {
    background-color: var(--dark-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 120px 0 120px;
}
.hero-title span {
    font-weight: bolder;
    color: var(--primary);
}
.hero-title {
    font-size: 48px;
    font-weight: 900;
}
.hero-desc {
    color: #c0c0ab;
}
/* Social Icons Starts */
.social-icons li {
    margin: 15px;
}
.social-icons li a {
    text-decoration: none;
    color: #fff;
}
ul.social-icons {
    list-style: none;
    display: flex;
}
.social-icons li a > svg.github:hover {
    color: #adb5bd;
}
.social-icons li a > svg.linkedin:hover {
    color: #0a66c2;
}
/* Social Icons Ends */
/* Button Starts */
.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.btn.btn-primary {
    color: #000;
    background-color: var(--primary);
    font-weight: bolder;
}
.btn.btn-primary:hover {
    background-color: var(--primary-hover);
}
.btn-cv {
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: 600;
}
.hero-btn button {
    margin-right: 15px;
}

/* Header Buttons */

.btn-cv:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: #0f0f0f;
    box-shadow: 2px 5px 5px var(--primary-hover);
}
/* Button Ends */

/* Hero-Section Ends */

/* About-Section Starts */
.about-section {
    background-color: #22282f;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 2px 4px 10px var(--primary);
}
.about-section--desc {
    margin-left: 80px;
    max-width: 450px;
}
.about-section--desc h4 {
    font-size: 30px;
    font-weight: 900;
}
.about-section--desc h4 span {
    color: var(--primary);
}
.about-section--desc ul {
    list-style: none;
    margin: 10px 0;
}
.about-section--desc li {
    margin-bottom: 5px;
    color: #808080;
}
.about-section--desc li > a {
    color: var(--gray);
    text-decoration: none;
}
.about-section--desc li > a:hover {
    color: var(--primary-hover);
}
.about-section--desc li > strong {
    color: #fff;
}
/* About-Section Ends */
