@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
/* Global Variables Start */
:root {
    --font: "Roboto Slab", "Poppins", serif;
    --dark-primary: #1b1f24;
    --dark-secondary: #22282f;
    --primary: #12bdff;
    --primary-hover: #0d9ad2;
    --gray: #808080;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables End */

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font);
}
/* Header Starts */
header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo {
    color: var(--primary);
    font-weight: bolder;
    letter-spacing: 3px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin-right: 20px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}
header ul li a:hover {
    color: var(--primary);
}

/* Header Ends */

/* Hero-Section Starts */

section.hero-section {
    background-color: var(--dark-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 120px 0 120px;
}
.hero-title span {
    font-weight: bolder;
    color: var(--primary);
}
.hero-title {
    font-size: 48px;
    font-weight: 900;
}
.hero-desc {
    color: #c0c0ab;
}
/* Social Icons Starts */
.social-icons li {
    margin: 15px;
}
.social-icons li a {
    text-decoration: none;
    color: #fff;
}
ul.social-icons {
    list-style: none;
    display: flex;
}
.social-icons li a > svg.github:hover {
    color: #adb5bd;
}
.social-icons li a > svg.linkedin:hover {
    color: #0a66c2;
}
/* Social Icons Ends */
/* Button Starts */
.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.btn.btn-primary {
    color: #000;
    background-color: var(--primary);
    font-weight: bolder;
}
.btn.btn-primary:hover {
    background-color: var(--primary-hover);
}
.btn-cv {
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: bolder;
}
.hero-btn button {
    margin-right: 15px;
}

/* Header Buttons */

.btn-cv:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: #0f0f0f;
    box-shadow: 2px 5px 5px var(--primary-hover);
}
/* Button Ends */

/* Hero-Section Ends */

/* About-Section Starts */
.about-section {
    background-color: var(--dark-secondary);
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 2px 4px 10px var(--primary);
}
.about-section--desc {
    margin-left: 80px;
    max-width: 450px;
}
.about-section--desc h4 {
    font-size: 30px;
    font-weight: 900;
}
.about-section--desc h4 span {
    color: var(--primary);
}
.about-section--desc ul {
    list-style: none;
    margin: 10px 0;
}
.about-section--desc li {
    margin-bottom: 5px;
    color: #808080;
}
.about-section--desc li > a {
    color: var(--gray);
    text-decoration: none;
}
.about-section--desc li > a:hover {
    color: var(--primary-hover);
}
.about-section--desc li > strong {
    color: #fff;
}
/* About-Section Ends */

/* Service Section Starts */
.service-section {
    background-color: var(--dark-primary);
    color: #fff;
    padding: 50px;
    text-align: center;
}
.service-section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.service-section-title span {
    color: var(--primary);
}
.service-section-items {
    display: flex;
    justify-content: center;
}
.service-section-box {
    margin-right: 30px;
    background-color: var(--dark-secondary);
    padding: 35px;
    max-width: 350px;
    text-align: left;
    border-radius: 10px;
}
.service-section-box:hover {
    box-shadow: 1px 1px 1px var(--primary-hover);
    cursor: pointer;
}
.service-section-box p {
    color: var(--gray);
    font-size: 14px;
    margin: 10px 0;
}
.service-section-box a {
    text-decoration: none;
    color: var(--primary);
}
.service-section-box a:hover {
    color: var(--primary-hover);
}
.service-section-icons {
    padding: 5px;
}
/* Service Section Ends */
/* Contact Section Starts */
.contact-section {
    background-color: var(--dark-secondary);
    padding: 40px;
    color: #fff;
    text-align: center;
}
.contact-section h4 {
    font-size: 30px;
    font-weight: 900;
    margin: 20px 0;
}
.contact-section h4 span {
    color: var(--primary);
}
.contact-section form div > input,
textarea {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    background-color: var(--dark-primary);
    color: var(--gray);
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
    font-family: var(--font);
}
.contact-btn {
    width: 200px;
    margin: 10px 0;
    font-weight: bolder;
}
/* Contact Section Ends */

/* Footer Starts */
footer {
    background-color: var(--dark-primary);
    color: var(--gray);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
footer a {
    color: var(--primary);
    text-decoration: none;
}
footer a:hover {
    color: var(--primary-hover);
}
/* Footer Ends */

/* Media Queries Starts */
@media only screen and (max-width: 600px) {
    /* Header */
    header {
        flex-direction: column;
    }
    header * {
        margin-bottom: 10px;
    }
    /* Hero-Setion */
    section.hero-section {
        flex-direction: column;
        padding: 30px;
    }
    /* About-Section */
    section.about-section {
        flex-direction: column;
    }
    .about-section--desc {
        margin-left: 0;
        margin-top: 30px;
    }
    /* Service Section */
    .service-section {
        padding: 30px 10px;
    }
    .service-section-items {
        flex-direction: column;
        align-items: center;
    }
    .service-section-box {
        margin-bottom: 20px;
        width: 100%;
    }
    /* Contact-Section */
    .contact-section form div > input,
    textarea {
        width: 100%;
    }
}
/* Media Queries Ends */
